/* Thing that affects the way elements are laid out on the page.
- positioning
- size
- display (blocks, inline, none)
- floats

li might go here for floating left
li colors would not go here
 */
 header {
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 /*  https://css-tricks.com/centering-css-complete-guide/ */
 main {
  width: 960px;
  margin: auto;
}
section {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 480px) {
  main {
    overflow: hidden;
  }
}
section {
  float: left;
  width: 50%;
  height: 767px;
}
#am {
  width: 480px;
  height: 75px;
}
#bm {
  width: 480px;
  height: 150px;
}
#cm {
  width: 480px;
  height: 125px;
}
#dm {
  width: 480px;
  height: 125px;
}
#em {
  width: 240px;
  height: 250px;
}
#fm {
  width: 240px;
  height: 250px;
}
#gm {
  width: 240px;
  height: 250px;
}
#hm {
  width: 240px;
  height: 250px;
}
#im {
  width: 480px;
  height: 80px;
}
@media (max-width: 960px) {
  main {
    overflow: hidden;
  }
}
section {
  float: left;
  width: 100%;
  height: 768px;
}
#ad {
  width: 960px;
  height: 100px;
}
#bd {
  width: 200px;
  height: 600px;
}
#cd {
  width: 380px;
  height: 200px;
}
#dd {
  width: 380px;
  height: 200px;
}
#ed {
  width: 190px;
  height: 250px;
}
#fd {
  width: 190px;
  height: 250px;
}
#gd {
  width: 190px;
  height: 250px;
}
#hd {
  width: 190px;
  height: 250px;
}
#id {
  width: 760px;
  height: 150px;
}